body, html { margin: 0; padding: 0; font-family: "Montserrat"; background-color: var(--darkblue); overflow-x: hidden; scroll-behavior: smooth;}

:root {
    --darkblue: #23242e;
    --blue: #2b3340;
    --darkgray: #5d606e;
    --lightblue: #8e989f;
    --gray: #a4a6aa;
    --white: #ffffff;
}


.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    height: 100vh;
    margin: auto;
}

/* MAIN SITE */


nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100vw;
    height: 70px;
    border-bottom: 2px solid var(--blue);
    background-color: var(--darkblue);
    z-index: 2;
}

.menu-top {
    position: fixed;
    top: 0%;
}

.menu-bottom {
    position: fixed;
    bottom: 0;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 90%;
    height: 100%;
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--white);
}

nav ul li a img {
    height: 25px;
}

.title {
    width: auto;
    height: 20px;
}


/* ========= */


/* LOG IN AND REGISTER */

.mt {
    margin-top: 30vh;
}

.container .header {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 90%;
    color: var(--white);
    text-align: center;
}

.container .header::after {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 2px;
    background-color: var(--white);
    content: "";
}

.container .header a {
    color: var(--darkgray);
    text-decoration: none;
}

.container .header h1 {
    letter-spacing: 2px;
    font-weight: 200;
}

.container .header > h1 {
    margin-left: 15px;
    font-weight: normal;
}

.container form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 5vh;
}

.container form input {
    width: 60%;
    height: 30px;
    border: none;
    background-color: transparent !important;
    box-shadow: 2px 2px 6px black;
    margin-bottom: 2vh;
    text-align: center;
    color: var(--white) !important;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 200;
    padding: 5px 0px;
}

::placeholder {
    color: var(--gray);
    text-align: center;
    font-family: "Montserrat";
    font-weight: 200;
    font-size: 18px;
}

:focus {
    outline-offset: 0px;
    outline: 0px;
}

.container form .btn {
    margin-top: 40px;
    color: var(--white);
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 200;
    letter-spacing: 3px;
    background-color: transparent;
    padding: 10px 20px;
    box-shadow: 2px 2px 6px black;
}


/* ====== */

/* USER SITE */


.user {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: var(--white);
    margin-top: 10vh;
}

.user .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 75%;
    margin: 20px 0;
}

.user .header img {
    width: 70px;
    border-radius: 100px;
    padding: 5px;
    border: 2px solid var(--blue);
}

.user .header::after {
    display: none;
}

.user .bio {
    text-align: justify;
    font-size: 15px;
    line-height: calc(1em + 1em/2);
    max-width: 75%;
}

.user .options {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2vh;
}

.user .stats {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 25px 0;
    margin-bottom: 0;
    padding: 25px 0;
    border-top: 2px solid var(--blue);
    border-bottom: 2px solid var(--blue);
    width: 100%;
}

.user .stats .stat {
    width: 120px;
}

.user .stats .stat p {
    margin: 10px;
}

.user .stats .stat .num {
    font-size: 2em;
}

.user h2 {
    margin: 25px 0;
}

.user .videa {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 50px 0;
    border-top: 2px solid var(--blue);
}

.user .videa img {
    width: 200px;
    margin-bottom: 25px;
    margin-left: calc((100% - 400px) /3);
}

.user .btn {
    color: var(--white);
    text-decoration: none;
    border-bottom: 1px solid var(--white);
    padding: 5px;
}

/* USER EDIT */

.user-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: white;
}

.user-edit .header {
    width: 100%;
    margin-top: 8vh;
    font-size: .8em;
    justify-content: center;
}

.user-edit .header::after {
    display: none;
}

.user-edit .header h1 {
    margin-left: 0;
}

.user-edit form {
    margin-top: 2vh;
}

.user-edit form p {
    font-size: 1.3em;
}

.user-edit form input {
    box-shadow: none;
    border-bottom: 2px solid var(--gray);
    font-size: 15px;
}

.user-edit form textarea {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--gray);
    width: 60%;
    height: 100px;
    color: var(--white);
    font-family: "Montserrat";
    font-size: 15px;
}


/* --------- */

/* ========= */