body, html { margin: 0; padding: 0; font-family: "Montserrat"; background-color: var(--darkblue); overflow-x: hidden; scroll-behavior: smooth;}

:root {
    --darkblue: #23242e;
    --blue: #2b3340;
    --darkgray: #5d606e;
    --lightblue: #8e989f;
    --gray: #a4a6aa;
    --white: #ffffff;
}


.container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    height: 100vh;
    margin: auto;
    z-index: 5;
}

.overflowY {
    overflow-y: hidden;
    height: 100vh;
}

/* MAIN SITE */


nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100vw;
    height: 70px;
    border-bottom: 2px solid var(--blue);
    background-color: var(--darkblue);
    z-index: 2;
}

.menu-top {
    position: fixed;
    top: 0%;
}

.menu-bottom {
    position: fixed;
    bottom: 0;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 90%;
    height: 100%;
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--white);
}

nav ul li img {
    height: 25px;
}

.title {
    width: auto;
    height: 20px;
}


/* ========= */


/* LOG IN AND REGISTER */

.mt-25 {
    margin-top: 25vh;
}

.mt-15 {
    margin-top: 15vh;
    transition: .3s;
}

.mt-10 {
    margin-top: 10vh;
}

.mt-5 {
    margin-top: 5vh;
    transition: .3s;
}

.container .header {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 90%;
    color: var(--white);
    text-align: center;
}

.container .header::after {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 2px;
    background-color: var(--white);
    content: "";
}

.container .header .darker {
    color: var(--darkgray);
}

.container .header h1 {
    letter-spacing: 2px;
    margin-left: 15px;
    font-weight: normal;
}

.container .header h1:last-child {
    margin-left: 0;
    margin-right: 15px;
}

.container .login, .container .register {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .3s;
}

.container .active {
    margin-top: 5vh;
}

.container .notactive {
    margin-top: 500%;
    position: absolute;
    opacity: 0;
}

.container form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.container form input {
    width: 60%;
    height: 30px;
    border: none;
    background-color: transparent !important;
    box-shadow: 2px 2px 6px black;
    margin-bottom: 2vh;
    text-align: center;
    color: var(--white) !important;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 200;
    padding: 5px;
}

.container .register input {
    width: 70%;
}

.container .register p {
    width: 70%;
    text-align: justify;
    color: var(--white);
    font-size: 15px;
}

.container .register .upload {
    position: relative;
    width: 70%;
    height: 30px;
    padding: 5px;
    box-shadow: 2px 2px 6px black;
    text-align: center;
    line-height: 30px;
    color: var(--white);
    font-size: 20px;
}

.container .register .upload input {
    visibility: hidden;
    width: 100%;
}

::placeholder {
    color: var(--gray);
    text-align: center;
    font-family: "Montserrat";
    font-weight: 200;
    font-size: 18px;
}

:focus {
    outline-offset: 0px;
    outline: 0px;
}

.container form .btn {
    margin-top: 40px;
    color: var(--white);
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 200;
    letter-spacing: 3px;
    background-color: transparent;
    padding: 10px 20px;
    box-shadow: 2px 2px 6px black;
}

.forgotpass {
    margin-top: 15px;
    font-size: 12px;
    color: var(--gray);
}

.sites {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 240px;
    margin-top: 100px;
}

.sites .logsite {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background-color: transparent !important;
    box-shadow: 2px 2px 6px black;
    padding: 5px 0px;
    border-radius: 50px;
    margin-top: 10px;
    text-decoration: none;
    height: 25px;
}

.sites .logsite img {
    width: 40px;
}

.sites .logsite p {
    width: 100%;
    text-align: center;
    padding: 0 10px;
    margin: 0;
    padding-right: 20px;
    color: var(--white);
}

.register .sites {
    margin-top: 50px;
}

.bgpolygon {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #1a1b24;
    content: "";
    width: 90vw;
    height: 45vh;
    z-index: 2;
    clip-path: polygon(100% 0, 100% 0%, 100% 100%, 0 100%);
}

.bgpolygon:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #1d1e27;
    content: "";
    width: 60vw;
    height: 85vh;
    z-index: 1;
    clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 0);
}

/* Forget password */

.forget div {
    margin-top: 5vh;
    width: 100%;
}

.forget .header {
    margin-top: 0;
}

.forget .header h1 {
    margin: 20px 0px !important;
}

.forget form input {
    width: 70%;
    height: 30px;
}

.forget form .btn {
    font-size: 18px;
    margin-top: 10px;
}


/* ====== */

/* USER SITE */


.user {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: var(--white);
    margin-top: 10vh;
}

.user .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 75%;
    margin: 20px 0;
}

.user .header img {
    width: 70px;
    border-radius: 100px;
    padding: 5px;
    border: 2px solid var(--blue);
    margin-right: 20px;
}

.user .header::after {
    display: none;
}

.user .bio {
    text-align: justify;
    font-size: 15px;
    line-height: calc(1em + 1em/2);
    max-width: 75%;
}

.user .stats {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 25px 0;
    margin-bottom: 0;
    padding: 25px 0;
    border-top: 2px solid var(--blue);
    border-bottom: 2px solid var(--blue);
    width: 100%;
}

.user .stats .stat {
    width: 120px;
}

.user .stats .stat p {
    margin: 10px;
}

.user .stats .stat .num {
    font-size: 2em;
}

.user h2 {
    margin: 25px 0;
}

.user .videa {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 50px 0;
    border-top: 2px solid var(--blue);
}

.user .videa img {
    width: 200px;
    margin-bottom: 25px;
    margin-left: calc((100% - 400px) /3);
}

.user .btn {
    color: var(--white);
    text-decoration: none;
    border-bottom: 1px solid var(--white);
    padding: 5px;
}

.user .menu {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: var(--darkblue);
    width: 60%;
    height: 100vh;
    border-left: 1px solid var(--blue);
    transition: .4s ease-in;
    z-index: 10;
}

.user .menu ul {
    width: 100%;
    margin: 50px 0;
    padding: 0;
}

.user .menu ul li {
    list-style: none;
    margin-top: 20px;
}

.user .menu ul li a {
    text-decoration: none;
    color: var(--white);
    font-size: 1.2em;
}

.user .close {
    right: -100%;
}

.menuCloser {
    position: absolute;
    top: 1%;
    right: 3%;
    transform: rotate(45deg);
    text-decoration: none;
    width: 30px;
}

/* USER EDIT */

.user-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: white;
}

.user-edit .header {
    width: 100%;
    margin-top: 10vh;
    font-size: .8em;
    justify-content: center;
}

.user-edit .header::after {
    display: none;
}

.user-edit .header h1 {
    margin-right: 0px !important;
}

.user-edit .header h1 {
    margin-left: 0;
}

.user-edit form {
    margin-top: 2vh;
}

.user-edit form p {
    font-size: 1.3em;
}

.user-edit form input {
    box-shadow: none;
    border-bottom: 2px solid var(--gray);
    font-size: 15px;
}

.user-edit form textarea {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--gray);
    width: 60%;
    height: 100px;
    color: var(--white);
    font-family: "Montserrat";
    font-size: 15px;
}


/* --------- */

/* ========= */

/* VIDEO PAGES */


.videopage .header {
    width: 100%;
}

.videopage .header::after {
    width: 50%;
}

.videopage .header h1 {
    margin-right: 0 !important;
}

.videopage form {
    margin-top: 5vh;
}

.videopage form p {
    width: 70%;
    color: var(--white);
    font-size: 15px;
    text-align: justify;
    margin: 50px 0 0 0;
}


/* =========== */